# Xcode
.DS_Store
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
build/
*.ipa

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment / secrets
*.env
